body {
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, minmax(150px, auto));
    grid-gap: 10px;
    width: 100%;
    margin: 0 auto;
}

.container__header {
    grid-column-start: 1;
    grid-column-end: 8;
    height: 100vh;
    background: url("src/worker_550.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}

.container__header_menu {
    color: white;
    font-weight: bold;
    list-style-type: none;
    display: flex;
    float: right;
}

.container__header_menu a {
    text-decoration: none;
    color:rgb(255, 255, 255);
}

.container__header_companyInfo {
    color: white;
}

.container__header_companyInfo img {
    width: 130px;
    height: 120px;
    padding: 0.3rem;
    margin-right: 308px;
}

.container__header_companyInfo p:nth-child(2) {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: -1rem;
    margin-top: 10rem;
}

.container__header_menu li {
    margin: 10px;
    text-transform: uppercase;
}

.container__header_buttons {
    display: flex;
    color: white;
    justify-content: center;
}

.container__header_buttons p:nth-child(1) {
    width: 10rem;
    font-weight: bold;
    border: 0.5rem solid rgb(59, 181, 74);;
    border-radius: 0.5rem;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    background: rgb(59, 181, 74);;
    margin: 0.5rem;
}

.container__header_buttons p:nth-child(1):hover {
    background: white;
    color: black;
    border: 0.5rem solid white;
}

.container__header_buttons p:nth-child(2) {
    color: black;
    font-weight: bold;
    width: 10rem;
    border: 0.5rem solid white;
    border-radius: 0.5rem;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    background: white;
    margin: 0.5rem;
}

.container__header_buttons p:nth-child(2):hover {
    background: rgb(59, 181, 74);;
    color: white;
    border: 0.5rem solid rgb(59, 181, 74);;
}
.container__welcomeText {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 1rem;
}

.container__welcomeText p {
    font-weight: bold;
    border-bottom: 0.1rem solid grey;
}

.container__welcomeText a {
    text-align: justify;
    text-justify: inter-word;
    font-size: 14px;
}

.container__icons {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 8;
}

.container__icons_one,
.container__icons_three,
.container__icons_five {
    grid-column-start: 1;
    grid-column-end: 3;
}

.container__icons_two,
.container__icons_four,
.container__icons_six {
    grid-column-start: 3;
    grid-column-end: 5;
}

.container__imgBuilder {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 6;
    background: url("src/builder.png");
    background-size:cover;
}

.container__photovoltaics,
.container__map,
.container__footer {
    grid-column-start: 1;
    grid-column-end: 8;
    height: 350px;
}

.container__photovoltaics {
    background: url(src/4257.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: -10rem;
}

.container__photovoltaics span {
    color: rgb(25, 206, 25);
    font-size: bold;
}

.container__photovoltaics p {
    margin-top: 5rem;
}

.container__photovoltaics a {
    background: rgb(255, 255, 255);
}

.container__icons_one img,
.container__icons_two img,
.container__icons_three img,
.container__icons_four img,
.container__icons_five img,
.container__icons_six img {
    width: 9rem;
    height: 7rem;
}

.container__icons_one p,
.container__icons_two p,
.container__icons_three p,
.container__icons_four p,
.container__icons_five p,
.container__icons_six p {
    font-weight: bold;
    margin: 0; 
}

.container__icons_one a,
.container__icons_two a,
.container__icons_three a,
.container__icons_four a,
.container__icons_five a,
.container__icons_six a {
    font-size: 0.8rem;
}

.container__footer_one,
.container__footer_two,
.container__footer_three {
    width: 33%;
    text-align: left;
    padding: 1rem;
}

.container__footer {
    display: flex;
    background: rgb(65, 66, 64);
    color: rgb(255, 255, 255);
}

.container__footer_one p,
.container__footer_two p,
.container__footer_three p {
    border-bottom: 0.05rem solid rgb(255, 255, 255); 
}

.container__footer_two img {
    width: 2.5rem;
    height: 2.5rem;
}

.container__footer_two_box-one,
.container__footer_two_box-two,
.container__footer_two_box-three {
    display: flex;
    align-items:center;
    margin-top: 1rem;
}

.container__footer_two_box-two a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.container__footer_three :nth-child(2),
.container__footer_three :nth-child(3),
.container__footer_three :nth-child(4),
.container__footer_three :nth-child(6) {
  box-sizing: border-box;
  width: 10rem;
  height: 3rem;
  padding: 0.5rem;  
  border: 0.05rem solid rgb(59, 181, 74);
  background: rgb(59, 181, 74);
  border-radius: 0.5rem;
}

.container__footer_three :nth-child(2):hover,
.container__footer_three :nth-child(3):hover,
.container__footer_three :nth-child(4):hover {
    background: rgb(255, 255, 255);
    color: rgba(0, 0, 0, 0.5);
    border: 0.05rem solid rgb(255, 255, 255);
    font-weight: bold;
}

.container__footer_three :nth-child(5)
 {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.container__header_buttons p a {
    text-decoration: none;
    color: black;
}

.container__footer_two_box-one a,
.container__footer_three a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.container__partners {
    font-weight: bold;
    font-size: 20px;
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 7;
    grid-row-end: 12;
}
.container__partners_logo {
    grid-column-start: 1;
    grid-column-end: 8;
}
.containers__partners_logo_two,
.containers__partners_logo_four {
    background: rgb(59, 181, 74);
}

.containers__partners_logo_five {
    margin-top: 0.5em;
}

@media only screen and (max-width: 600px) {

.container__imgBuilder {
    display: none;
}
.container__welcomeText,
.container__photovoltaics,
.container__header,
.container__map,
.container__partners_logo {
    grid-column-start: 1;
    grid-column-end: 12;
}

.container__icons_one,
.container__icons_three,
.container__icons_five,
.container__icons_two,
.container__icons_four,
.container__icons_six {
    grid-column-start: 1;
    grid-column-end: 12;
    padding: 5rem;
}

.container__footer {
    background-color: rgb(65, 66, 64);
    background-size: 100% 100rem;
    flex-direction: column;
    height: 800px;
    grid-column-start: 1;
    grid-column-end: 12;
}

.container__footer_one,
.container__footer_two,
.container__footer_three {
    width: 80%
}

.container__header_menu {
    flex-direction: column;
}

.container__header {
    background: url("src/worker_440_mobile.jpg");
    background-repeat: no-repeat;
    background-size: 100% 520px;
}

.container__photovoltaics {
    background: url("src/4257_mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container__welcomeText {
    margin-top: -8rem;
}

.container__header_companyInfo img {
    margin-right: 69px;
    margin-top: 15px;
}

.container__header_companyInfo p:nth-child(2) {
    margin-top: 0;
}

.container__partners {
    grid-column-end: 0;
    grid-row-start: 10;
}
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .container__imgBuilder {
        background-position-x: -2rem;
    }

    .container__photovoltaics {
        background: url("src/4257.jpg");
        background-position: center;
        background-size: cover;
    }

    .container__footer {
        height: 400px;
    }

    .container__header_companyInfo img {
        margin-right: 100px;
    }
}

@media only screen and (max-width: 360px) {
    .container__header_companyInfo img {
        margin-right: 29px;
    }
}